<!DOCTYPE html>

<!-- contiene los fragmentos de la vista que muestra la informacion detallada de los locales -->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{sinCuenta/plantilla :: head}">
        <title>EatAway</title>
    </head>
    <body>                    
        
        <section th:fragment="reservaLocal">
            <div id="details" class="contenedor">
                <div class="col derecha">                    
                    <div class="mb-3">
                        <p class="nombreFuente">[[#{reserva.titulo}]]</p>
                    </div>
                    <hr class="my-4">
                        <div class="mb-1">
                            <h6 style="display: inline-block; margin-right: 10px;">[[#{detalle.nombre}]]</h6>
                            <p style="display: inline-block;" th:text="${local.nombre}"></p>
                        </div>
                        <form th:action="@{/reservar}" th:object="${reserva}" method="POST" class="was-validated" enctype="multipart/form-data">                
                            <div class="mb-3">
                                <!---->
                                <!--<input hidden name="activo" value="1"/>-->
                                <input hidden name="lugar" th:value="${local.nombre}"/>
                                <input hidden name="idLocal" th:value="${local.idLocal}"/>
                                <!--<input hidden name="idUsuario" th:value="${#ctx.session.idU}"/>-->
                                <input hidden name="idUsuario" value="1"/>
                                <!--------------------------------------------------------------->
                            </div>
                            <div class="mb-3">
                                <label for="numeroPersonas">[[#{reserva.persona}]]</label>
                                <select class="form-control" name="numeroPersonas" required="true" style="width: 500px;">
                                    <option value="1">1 persona</option>
                                    <option value="2">2 personas</option>
                                    <option value="3">3 personas</option>
                                    <option value="4">4 personas</option>
                                    <option value="5">5 personas</option>
                                    <option value="6">Más de 5</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="fecha">[[#{reserva.fecha}]]</label>
                                <input type="date" class="form-control" name="fecha" required="true" style="width: 500px;"/>
                            </div>
                            <div class="mb-3">
                                <label for="hora">[[#{reserva.hora}]]</label>
                                <select class="form-control" name="hora" required="true" style="width: 500px;">
                                    <option value="05:00 pm">05:00 pm</option>
                                    <option value="05:30 pm">05:30 pm</option>
                                    <option value="06:30 pm">06:30 pm</option>                                        
                                    <option value="07:30 pm">07:30 pm</option>                                        
                                    <option value="08:00 pm">08:30 pm</option>                                        
                                    <option value="09:00 pm">09:00 pm</option>                                        
                                </select>
                            </div>
                            <div>
                                <textarea placeholder="Agrega una solicitud especial..." type="text" class="form-control" name="descripcion" style="width: 500px;"></textarea>
                            </div>
                            <br>
                                <div>
                                    <button class="btn" type="submit" style="background-color: #F54D33; color: white; border-radius: 25px; width: 200px;">
                                        [[#{accion.enviareserva}]]
                                    </button>
                                </div>
                        </form>
                </div>                                
            </div>
        </section>     
        
        <section th:fragment="historial">
            <div id="details" class="contenedor">
                <div class="col derecha"> 
                    <div class="mb-3">
                        <p class="nombreFuente" th:text="#{reserva.historial}"></p>
                    </div>
                    <hr class="my-4">
                    <div th:each="reserva, iterStat : ${reservas}" class="evento-container">                        
                        <div class="detalles-evento">
                            <h3 th:text="${reserva.lugar}"> </h3>                            
                            <div class="detalles-adicionales">                                
                                <div class="my-2">
                                    <h6 style="display: inline-block; margin-right: 10px;">[[#{reserva.persona}]]</h6>
                                    <p style="display: inline-block;"th:text="${reserva.cantidad}"></p>
                                </div>
                                <div class="my-2">
                                    <h6 style="display: inline-block; margin-right: 10px;">[[#{reserva.fecha}]]</h6>
                                    <p style="display: inline-block;"th:text="${reserva.fecha}"></p>
                                </div>
                                <div class="my-2">
                                    <h6 style="display: inline-block; margin-right: 10px;">[[#{reserva.hora}]]</h6>
                                    <p style="display: inline-block;"th:text="${reserva.hora}"></p>
                                </div>
                                <div class="my-2">
                                    <h6 style="display: inline-block; margin-right: 10px;">[[#{reserva.ocasion}]]</h6>
                                    <p style="display: inline-block;"th:text="${reserva.ocasion}"></p>
                                </div>
                                <div class="my-2">
                                    <h6 style="display: inline-block; margin-right: 10px;">[[#{reserva.descripcion}]]</h6>
                                    <p style="display: inline-block;"th:text="${reserva.descripcion}"></p>
                                </div>
                            </div>
                            <!-- Botón de Cancelar -->
                            <div class=" ml-auto">
                                <a th:href="@{/reservas/eliminar/}+${reserva.idReserva}">
                                <button type="button" class="btn" style="background-color: black; color: white; border-radius: 25px; width: 200px;" th:text="#{reserva.cancelar}"></button>
                                </a>
                            </div>
                            <hr class="my-4">
                        </div>
                    </div>
                </div>
                <div class="col izquierda">
                    <p style="text-aling: center;">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ
                    </p>
                </div>
            </div>
        </section>

    </body>
</html>
